:root {
    --flirt: #A80874;
    --celeste: #B7FDFE;
    --bittersweet: #FF715B;
    --bitter-lime: #BCED09;
    --sunglow: #F9CB40;
    --turquoise-blue: #00FFE7;
    --crayola: #1E91D6;
    --purple: #C200FB;
    --olivine: #8CB369;
    --emerald: #23CE6B;
}

section {
    height: 30vh;
}

section div {
    height: 20vh;
    width: 20vw;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

p {
    padding: 5px;
    border-radius: 5px;
}

span {
    padding: 5px;
    border-radius: 5px;
}

section div {
    background-color: var(--sunglow);
}

div > p {
    background-color: var(--bittersweet);
}

p ~ p {
    background-color: var(--emerald);
}

p + p {
    background-color: var(--purple);
}

p + span {
    background-color: var(--purple);
}